.projectsDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    margin-top: 200px;
}

.projectsHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.featuredProjects {
    font-size: 60px;
}

.projectsDividerLine {
    background-color: #f8efd4;
    height: 1px;
    width: 50%;
}

.ferrariDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.projectPhoto {
    width: 32%;
}

.sparqProjectPhoto {
    height: 270px;
}

.projectInfo {
    width: 25%;
}

.projectInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 40px;
}

.projectHeader {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.projectDescription {
    font-size: large;
    text-align: center;
    color: #999;
}

.projectButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.githubButton, .projectLinkButton {
    height: 40px;
    width: 40%;
    background-color: inherit;
    border: 1px solid #f8efd4;
    border-radius: 5px;
    font-weight: bold;
    color: #f8efd4;
    cursor: pointer;
}

.pokemonDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

@media screen and (max-width: 1100px) {
    .projectsDiv {
        gap: 4rem;
        margin-top: 4rem;
    }

    .featuredProjects {
        font-size: 2.2rem;
    }

    .projectsDividerLine {
        width: 90%;
    }

    .ferrariDiv {
        flex-direction: column;
        gap: 2rem;
    }

    .projectPhoto {
        width: 100%;
    }

    .sparqProjectPhoto {
        width: 100%;
    }

    .projectInfo {
        width: 90%;
    }

    .pokemonDiv {
        flex-direction: column-reverse;
        gap: 2rem;
    }
}
