.skillsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.skillsHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    width: 70%;
    margin-top: 200px;
}

.skillsAndLine {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.skillsDividerLine {
    height: 2px;
    background-color: #f8efd4;
    width: 50%;
}

.skillsHeaderLeft {
    font-size: 80px;
}

.skillsHeaderRight {
    font-size: xx-large;
    text-align: center;
}

.skillsBody {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
}

.skillsBodyLeft, .skillsBodyRight, .skillsBodyCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 300px;
    height: 500px;
    background-color: #000;
    border-radius: 10px;
    padding: 20px;
}

.skillsBodyLeftHeader, .skillsBodyRightHeader {
    margin-top: 20px;
    font-size: x-large;
    background-color: #000;
    text-align: center;
}

.skillsBodyLeftItems, .skillsBodyRightItems {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #000;
}

.skillItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 50%;
    height: 100px;
    font-size: large;
    background-color: #000;
    text-align: center;
}

.skillItem > img {
    height: 45px;
    width: 45px;
    background-color: inherit;
}

.skillItem > span {
    background-color: inherit;
}

@media screen and (max-width: 800px) {
    .skillsHeader {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        margin-top: 4rem;
    }

    .skillsDiv {
        gap: 3rem;
    }

    .skillsBody {
        flex-direction: column;
        gap: 3rem;
    }
}