* {
    margin: 0;
    padding: 0;
}

.app {
    background-color: #1b1b1b;
    color: #f8efd4;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}